@font-face {
    font-family: 'Gilroy-Bold';
    src: url('./font/Gilroy-Bold.woff2');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('./font/Gilroy-Medium.woff2');
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-weight: 400;
    background: #FFF;
    font-family: 'Gilroy-Bold';
    font-family: 'Gilroy-Medium';
    font-style: normal;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex: content;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1%;
    padding: 1%;
}

.header__menu {
    display: flex;
    flex: content;
    flex-direction: row;
    align-items: center;
    gap: 8%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-content: center;
    justify-content: flex-end;
}

.top_content {
    display: flex;
    flex: content;
    flex-direction: row;
    align-items: center;
    gap: 1%;
    margin: 1%;
    padding: 1%;
    width: 100%;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    gap: 1%;
    margin: 1%;
    padding: 1%;
    width: 100%;
}

.top__text {
    width: 522px;
    height: 374px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 1%;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 1%;
    padding: 1%;
}

.text {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 1%;
    padding: 1%;
}

.top__buttons {
    display: flex;
    flex: content;
    flex-direction: row;
    gap: 20%;
    align-items: center;
    margin: 1%;
    padding: 1%;
}

.image {
    width: auto;
    height: auto;
}

.buttons {
    color: #FFFFFF;
    background: #F25822;
    border-radius: 30px;
    border-width: 0;
    width: 120px;
    height: 40px;
}

.link__topbutton {
    color: #AAA;
    font-family: Gilroy-Bold;
    white-space: nowrap;
    display: flex;
    flex: content;
    flex-direction: row;
    gap: 15px;
    align-items: сenter;
}

.footer {
    width: auto;
    height: auto;
}

.top_container {
    width: 1319px;
    height: 928px;
    background: #FFFFFF;
}

.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

.logo {
    display: flex;
    flex: content;
    gap: 1%;
    flex-direction: row;
    align-items: center;
    width: 20%;
    align-content: center;
    justify-content: flex-start;
    padding-left: 10%;
}

.logo_image {
    height: auto;
    width: 30%;
}

.link__menu_1 {
    color: #F25822;
    font-family: Gilroy-Medium, sans-serif;
}

.link__menu_2 {
    color: #000;
    font-family: Gilroy-Medium, sans-serif;
}

.link__menu_3 {
    color: #000;
    font-family: Gilroy-Medium, sans-serif;
}

.link__menu_4 {
    color: #000;
    font-family: Gilroy-Medium, sans-serif;
}

.link__menu_5 {
    color: #000;
    font-family: Gilroy-Medium, sans-serif;
}

.link__menu_6 {
    color: #000;
    font-family: Gilroy-Medium, sans-serif;
}

.link__menu_7 {
    color: #000;
    font-family: Gilroy-Medium, sans-serif;
}







